@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  src: url("./fonts/FixedsysExcelsiorIIIb.woff2") format("woff2"),
      url("./fonts/FixedsysExcelsiorIIIb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #E8E6CB;
  font-family: "Fixedsys Excelsior 3.01";
  margin: 0;
  padding: 0;
  line-height: 25px;
}
body a {
  color: #897C00;
  text-decoration: none;
}
body a:hover{
  text-decoration: underline;
}
.links {
  position: relative;
  display: flex;
  right: 2px;
}
.links a {
  padding: 0 3px 0 3px;
}
.center {
  margin: 6.5em auto 2.5em auto;
  padding: 0.5em 1.5em;
  max-width: 50vw;
}
h2 {
  color: #425643;  
  margin-bottom: 15px;
}
.computer {
  width: 75px;
  height: 75px;
  padding-right: 5px;
  position: relative;
  right: 7px;
  float: left;
  top: 14px;
}
li {
  padding: 3px;
  margin-bottom: 5px;
}
li a:nth-of-type(2) {
  color: #425643;
}
br {
  margin-bottom: 9px;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .center {
    margin: 0;
    padding: 5px 0 0 8px;
    max-width: 99vw;
  }
}
